/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #4d4d4d;
  font-size: 16px;
}

h1 {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.alert {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
}

.label-tag {
  font-weight: normal;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: #9d9d9d;
}

.panel > .panel-heading {
  background-color: #660066;
  color: #fff;
  border-color: #660066;
}

.panel-primary {
  border-color: #660066;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.4);
}

.table {
  background-color: rgb(34, 34, 34);
}

.yelp-image {
  width: 100%;
}

.media-heading {
  margin-bottom: 10px;
}

.media-body {
  width: 100%;
  color: #808080;
  /*text-shadow: 2px 2px 2px #fff;*/
}

.spotify-image {
  width: 100px;
  height: auto;
}

.h4 {
  margin-bottom: 0.8rem;
}

.address-spacing {
  line-height: 40%;
  font-size: 1.1rem;
}

.phone {
  font-size: 1.1rem;
}

.rating {
  width: 24%;
}

.player {
  margin-top: 1rem;
}

.table tbody>tr>td.vert-align {
  vertical-align: middle;
  font-size: 2rem;
  padding-left: 1.8rem;
}

.table {
  table-layout: fixed;
}

.table .left-col {
  width: 50px;
}

.favorite-a, .heart-nav {
  color: #cc0000;
}

.favorite-a:hover {
  color: #b30000;
}

.user-icon {
  width: 40px;
  height: 40px;
}

.greeting {
  line-height: 50px;
  padding-right: 1rem;
  color: #fff;
}

.greeting-text {
  padding-right: 2rem;
}

.heart-nav {
  font-size: 2rem;
  margin-right: 2rem;
}

.spotify-logo {
  width: 40px;
  height: 40px;
}

.large-login-logo {
  width: 30%;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.spotify-login {
  border: 1px solid #333;
  border-radius: 12px;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: rgb(30, 215, 96);
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  margin-top: 4rem;
  width: 20%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.spotify-login:hover {
    background-color: rgb(30, 215, 96);
    color: #333;
}

.beats-brand, .panel-title {
  font-family: "Gruppo";
  font-size: 2rem;
}

.navbar-nav>li>a.greeting-image {
    padding: 0;
    margin-top: 6px;
}

.navbar-nav>li>a.greeting-text {
    padding-left: 1rem;
}
